.correct {
    background-color: #9ACD32;
}

.incorrect {
    background-color: #FF6347;
}
#score {
    font-weight: bold;
    margin-top: 10px;
}
.answer {
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.quiz-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}


